
.vs/OurVBuddy.github.io/FileContentIndex/4e775a53-3cd5-4096-839e-7f0c0b889755.vsidx
.vs/OurVBuddy.github.io/FileContentIndex/53c9cfe6-d84e-4a68-852d-d4d02276cae7.vsidx
.vs/OurVBuddy.github.io/FileContentIndex/595d8b44-95eb-493a-afcf-8103dd89c528.vsidx
.vs/OurVBuddy.github.io/FileContentIndex/7356b218-f8f7-4c75-aa1d-33b3d5ede63f.vsidx
.vs/OurVBuddy.github.io/FileContentIndex/8f2cd44b-7f41-4122-bb66-0cdd14cd0a9a.vsidx
.vs/OurVBuddy.github.io/FileContentIndex/d947e913-447c-4230-bdd0-56e1c7505a9b.vsidx
.vs/slnx.sqlite
*.vsidx
*.sqlite
*.vsidx
.vs/OurVBuddy.github.io/FileContentIndex/53c9cfe6-d84e-4a68-852d-d4d02276cae7.vsidx
.vs/slnx.sqlite
