.backgroundStyle {
    background-image: url(../assets/elevbg.png); 
}
.headerText {
    font-size: xx-large;
    font-family:'Segoe UI';
    font-weight: bold;
    color: white;
}
.headerSelections {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.button {
    border-radius: 5%;
    font-family:'Segoe UI';
    font-weight: bold;
    background-color: white; 
    border: black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}